@require 'var'
@require 'func'

.btn-hover
	border 0

.btn
	display block
	padding 20px
	color $color-grey
	background-color $color-white
	font-size $size-text-2
	font-weight bold
	text-align center
	text-decoration none
	letter-spacing -1px
	box-sizing border-box
	borderRadius(5)
	&:hover
	&:focus
		@extend .btn-hover
	&:active
		padding 21px 20px 19px
		boxShadow(inset 0px 2px 5px 0px alpha($color-black, 0.25))

.btn.primary
	@extend .btn
	color $color-white
	background-color $color-main
	&:hover
	&:focus
		@extend .btn-hover
		color $color-white
		background-color $color-main-light
