calcBorderRadius()
	arguments * 1px

borderRadius()
	border-radius calcBorderRadius(arguments)
	-webkit-border-radius calcBorderRadius(arguments)
	-moz-border-radius calcBorderRadius(arguments)
	
boxShadow()
	-webkit-box-shadow: arguments;
	-moz-box-shadow: arguments;
	box-shadow: arguments;