<div id="coverContentContainer" class="align-middle">
	<div class="gg-row">
		<div class="gg-col-12">
			<h1 class="app-title">eudis.se</h1>
		</div>
	</div>
	<div class="gg-row">
		<div class="gg-col-12">
			<h2 class="app-tagline">Two words. The first nano blog in the world.</h2>
		</div>
	</div>
	<div class="gg-row gg-voff-5">
		<div class="gg-col-6">
			<div class="dito">
				<div class="dito-title">tenra textura</div>
				<div class="dito-details">
					<span class="dito-author">
						<a href="#/camargo">camargo</a>
					</span>
					<span class="dito-date">feb, 4 2015</span>
				</div>
			</div>
		</div>
	</div>
	<div class="gg-row gg-voff-5">
		<div class="gg-col-4">
			<a href="#/newest" class="btn primary">Read more</a>
		</div>
	</div>
</div>